p, .sub-title, .para-title {
    color: #000;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sub-title {
    text-transform: uppercase;
    font-family: "Futura LT Bold", serif;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.para-title {
    margin-top: 40px;
}
.para-title img {
    margin-bottom: 12px;
}

p {
    color: #555;
}

.segment-line {
    display: block;
    position: relative;
    top: -5px;
    color: #cccccc;
}

#first-paragraph {
    text-align: center;
    margin: 0 auto;
    width: 45%;
}

#first-paragraph img {
    width: 100%;
    margin-bottom: 50px;
}

@media (min-width: 768px) {

    #right-align {
        float: right;
        width: 65%;
    }
    #first-line {
        float: right;
        position: relative;
        right: 50%;
    }
    #right-align p {
        text-align: left;
    }
    .clearfix:after {
        content: '';
        display: block;
        height: 0;
        clear: both;
    }
}