.contact-person {
    margin: 0 auto;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    padding-top: 100px;
}

.sub-title {
    text-transform: capitalize;
    font-family: "Futura LT Bold", serif;
    font-size: 20px;
    margin-top: 60px;
}

.segment-line {
    display: block;
    position: relative;
    color: #888;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    color: #888;
}

.contact-person img {
    width: 125px;
}
