.social-link:hover,
.social-link:focus,
.nav-link:hover,
.nav-link:focus,
.nav-link.active,
.active-point{
    color: #eab9c7;
}
.pace .pace-activity{
    background: #F7E1E8;
}

.footer {
    background: #F7E1E8;
}